@import "vars";


html {
    font-size: 62.5%;
}

body {
    background-color: $color-bg;
    font-size: 1.4rem;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
}

.section {
    &__header {
        font-size: 3.6rem;
        font-weight: 800;
        color: $color-white;
        &-text {
            color: $color-accent;
            text-decoration: none;
            @include transition-default;
            &:hover {
                color: orange;
            }
        }
    }
}

.show {
    margin-top: 10px;
    border-radius: 16px;
    background: rgba($color-bg, 0.9);
}


@import "blocks/header";
@import "blocks/slider";
@import "blocks/albums";
@import "blocks/album";
@import "blocks/videos";
@import "blocks/footer";