.footer {
    padding: 7rem 0;
    background-color: $color-gray-dark;

    &__logo {
        margin-bottom: 50px;
    }

    &__right {
        &-title {
            color: $color-white;
            text-align: right;
            font-size: 2rem;            
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
    }

    &__card {
        display: block;
        margin-left: 1rem;
        margin-top: 1rem;
        padding-top: 1.5rem;
        width: 8rem;
        height: 8rem;
        background-color: $color-gray-dark;
        border-radius: 1rem;
        text-decoration: none;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.35);
        @include transition-default;

        &:hover {
            background: rgba(217, 217, 217, 0.05);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
        }

        p {
            font-size: 1rem;
            text-decoration: none;
            color: $color-white;
        }

        & img {
            height: 25px;
            margin-bottom: 2px;
        }
    }

    &__listen {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
    }
}
