.header {
   padding: 3rem;
}

.menu {
    &__link {
        padding: 20px;
        text-decoration: none;
        color: $color-white;
        font-weight: 600;
        font-size: 2rem;
        @include transition-default;

        &:hover {
            color: $color-accent;
            text-shadow: 0 0 5px $color-accent,
                         0 0 25px $color-accent,
                         0 0 50px $color-accent,
                         0 0 100px $color-accent;
        }
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav.navbar.scrolled {
    background-color: rgba($color-bg, 0.8);
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    height: 70px; 
}

.navbar.scrolled .navbar-brand img {
    height: 40px; 
}

.navbar.scrolled .menu__link {
    font-size: 1.5rem; 
}


@media (min-width: 992px) {
    .navbar-collapse {
        flex-grow: 0;
    }
}

@media (max-width: 991.98px) {
    #navbarSupportedContent {
        display: none;
    }
    
    #navbarSupportedContent.show {
        display: block;
    }
}
