.videos {
    background-color: $color-bg;
    margin-bottom: 10rem;

    &__img {
        max-height: 22rem;
        width: 100%;
        height: 100%;
      
    }
    
    &__vid {
        height: 300px;
        display: block;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        overflow: hidden;
    }

    &__title {
        color: $color-white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        @include transition-default;

        &:hover {
            color: $color-accent;
        }
    }
}
