<footer class="footer">
    <div class="container">
        <div class="row">
            
                <div class="col-md-12 col-lg-2 footer__logo">
                    <div>
                        <a href="/"><img src="/assets/images/d3logo.svg" alt="D3 Misty Project"></a>
                    </div>
                    <div class="albums__year mt-5">Music band from Baku, Azerbaijan.<br>Since 2000.</div>
                </div>
    
                <div class="col-md-12 col-lg-10 footer__right justify-content-end">
                    <p class="footer__right-title">listen us</p>
                    <div class="footer__listen">
                        <a target="_blank" href="https://open.spotify.com/artist/2vWgHz2zsb6NRM5x1mOgXR?si=Xi23NATkS3urVkf6_tIByw" class="footer__card mt-3 text-center">
                            <img src="assets/images/footer/01.svg" alt="Spotify">
                            <p class="mt-3">Spotify</p>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/@D3MistyProject" class="footer__card mt-3 text-center">
                            <img src="assets/images/footer/02.svg" alt="Youtube">
                            <p class="mt-3">Youtube</p>
                        </a>
                        <a target="_blank" href="https://deezer.page.link/ZDCvpkvbz81E1kCx6" class="footer__card mt-3 text-center">
                            <img src="assets/images/footer/03.svg" alt="Deezer">
                            <p class="mt-3">Deezer</p>
                        </a>
                        <a target="_blank" href="https://soundcloud.com/d3mistyproject" class="footer__card mt-3 text-center">
                            <img src="assets/images/footer/04.svg" alt="SoundCloud">
                            <p class="mt-3">SoundCloud</p>
                        </a>
                        <a target="_blank" href="https://music.apple.com/us/artist/d3-misty-project/1567049001" class="footer__card mt-3 text-center">
                            <img src="assets/images/footer/05.svg" alt="Apple">
                            <p class="mt-3">Apple</p>
                        </a>
                        <a target="_blank" href="https://music.amazon.com/artists/B094Q8SR3B/d3-misty-project" class="footer__card mt-3 text-center">
                            <img src="assets/images/footer/06.svg" alt="Amazon">
                            <p class="mt-3">Amazon</p>
                        </a>
                    </div>
    
                    <p class="footer__right-title mt-4">listen us</p>
    
                    <div class="d-flex justify-content-end">
                        <div class="p-2">
                            <a target="_blank" href="https://www.facebook.com/d3mistyproject" class="footer__social"><img src="assets/images/footer/fb.svg" alt="Facebook"></a>
                        </div>
                        <div class="p-2">
                            <a target="_blank" href="https://instagram.com/d3mistyproject" class="footer__social"><img src="assets/images/footer/ig.svg" alt="Instagram"></a>
                        </div>
                    </div>
                </div>
            
        </div>
        
    </div>
</footer>